* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffafa;
}
body {
  font-family: "Arial", sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

table {
  width: 100vh;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #0b57d0;
}

th {
  background-color: #7d6eff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 50vh;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a000;
}
button:active {
  background-color: #450;
}
